<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>

{{- /* Compute page description with tag/category-specific override */ -}}
{{- $isTag := and (eq .Kind "term") (or (eq .Data.Plural "tags") (eq .Data.Singular "tag")) -}}
{{- $isCategory := and (eq .Kind "term") (or (eq .Data.Plural "categories") (eq .Data.Singular "category")) -}}
{{- $desc := "" -}}
{{- if .Params.description -}}
  {{- $desc = .Params.description -}}
{{- else if $isTag -}}
  {{- $desc = (printf "A collection of 42JerryKim blog posts that use %s." .Title) -}}
{{- else if $isCategory -}}
  {{- $desc = (printf "A collection of 42JerryKim blog posts in the %s category." .Title) -}}
{{- else -}}
  {{- with .Description -}}
    {{- $desc = . -}}
  {{- else -}}
    {{- $desc = (default .Site.Params.sidebar.subtitle .Site.Params.description) -}}
  {{- end -}}
{{- end -}}

<meta name='description' content='{{ $desc }}'>
{{ with .Params.Keywords }}<meta name="keywords" content="{{ delimit . ", " }}">{{ end }}

{{- $title := partial "data/title" . -}}
<title>{{ $title }}</title>

<link rel='canonical' href='{{ .Permalink }}'>

{{- partial "head/style.html" . -}}
{{- partial "head/script.html" . -}}
{{- partial "head/opengraph/include.html" . -}}

{{- range .AlternativeOutputFormats -}}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{- end -}}

{{ with .Site.Params.favicon }}
    <link rel="shortcut icon" href="{{ . | relURL }}" />
{{ end }}

{{- template "_internal/google_analytics.html" . -}}
{{- partial "head/custom.html" . -}}