<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>

{{- /* Compute page description with tag/category-specific override */ -}}
{{- $isTag := and (eq .Kind "term") (or (eq .Data.Plural "tags") (eq .Data.Singular "tag")) -}}
{{- $isCategory := and (eq .Kind "term") (or (eq .Data.Plural "categories") (eq .Data.Singular "category")) -}}
{{- $desc := "" -}}
{{- if .Params.description -}}
  {{- $desc = .Params.description -}}
{{- else if $isTag -}}
  {{- $desc = (printf "Discover blog posts tagged '%s' on 42JerryKim." .Title) -}}
{{- else if $isCategory -}}
  {{- $desc = (printf "Explore posts in the '%s' category on 42JerryKim." .Title) -}}
{{- else -}}
  {{- with .Description -}}
    {{- $desc = . -}}
  {{- else -}}
    {{- $desc = (default .Site.Params.sidebar.subtitle .Site.Params.description) -}}
  {{- end -}}
{{- end -}}

<meta name='description' content='{{ $desc }}'>
{{ with .Params.Keywords }}<meta name="keywords" content="{{ delimit . ", " }}">{{ end }}

{{- $title := partial "data/title" . -}}
<title>{{ $title }}</title>

<link rel='canonical' href='{{ .Permalink }}'>

{{- partial "head/style.html" . -}}
{{- partial "head/script.html" . -}}

{{- /* Open Graph */ -}}
<meta property='og:title' content='{{ $title }}'>
<meta property='og:description' content='{{ $desc }}'>
<meta property='og:url' content='{{ .Permalink }}'>
<meta property='og:site_name' content='{{ .Site.Title }}'>
<meta property='og:type' content='{{ if .IsPage }}article{{ else }}website{{ end }}'>
{{- with .Lastmod -}}<meta property='og:updated_time' content='{{ .Format "2006-01-02T15:04:05Z07:00" }}'>{{- end -}}

{{- /* Twitter */ -}}
<meta name="twitter:title" content="{{ $title }}">
<meta name="twitter:description" content="{{ $desc }}">

{{- range .AlternativeOutputFormats -}}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{- end -}}

{{ with .Site.Params.favicon }}
    <link rel="shortcut icon" href="{{ . | relURL }}" />
{{ end }}

{{- template "_internal/google_analytics.html" . -}}
{{- partial "head/custom.html" . -}}