{{ define "main" }}

<section class="widget tagCloud">
  <div class="widget-icon">
      {{ partial "helper/icon" "categories" }}
  </div>
  <h2 class="widget-title section-title">Categories</h2>

  <div class="tagCloud-tags">
    {{ range where (sort .Site.Taxonomies.categories ".Count" "desc") ".Count" "ge" 5 }}
          <a href="{{ .Page.RelPermalink }}" class="font_size_{{ .Count }}">
              {{ .Page.Title }} ({{ .Count }})
          </a>
      {{ end }}
  </div>
  &nbsp;
  <div class="widget-icon" onclick="toggleExpend(this)" style="cursor: pointer;">
    {{ partial "helper/icon" "categories" }}
  </div>
  <h2 class="widget-title section-title" onclick="toggleExpend(this.previousElementSibling)" style="cursor: pointer;">더 많은 Categories를 보려면 클릭하세요.</h2>

  <div class="tagCloud-tags" style="display: none;">
    {{ range where (sort .Site.Taxonomies.categories ".Count" "desc") ".Count" "le" 4 }}
          <a href="{{ .Page.RelPermalink }}" class="font_size_{{ .Count }}">
              {{ .Page.Title }} ({{ .Count }})
          </a>
      {{ end }}
  </div>
</section>

{{ partialCached "footer/footer" . }}

<script>
function toggleExpend(element) {
  const tagCloud = element.nextElementSibling.nextElementSibling;
  const isExpanded = tagCloud.style.display === 'none';
  tagCloud.style.display = isExpanded ? 'flex' : 'none';
}
</script>

{{ end }} 