{{ define "main" }}

<section class="widget tagCloud">
  <div class="widget-icon">
      {{ partial "helper/icon" "categories" }}
  </div>
  <h2 class="widget-title section-title">Categories</h2>

  <div class="tagCloud-tags">
    {{ range sort .Site.Taxonomies.categories ".Count" "desc" }}
          <a href="{{ .Page.RelPermalink }}" class="font_size_{{ .Count }}">
              {{ .Page.Title }} ({{ .Count }})
          </a>
      {{ end }}
  </div>
</section>

{{ partialCached "footer/footer" . }}

{{ end }}