{{ define "main" }}

{{/*  <div class="categories-menu">
    <h2 class="section-title">Categories</h2>
    <ul>
      {{ range sort .Site.Taxonomies.categories ".Count" "desc" }}
        <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a> ({{ .Count }})</li>
      {{ end }}
    </ul>
</div>  */}}

<section class="widget tagCloud">
  <div class="widget-icon">
      {{ partial "helper/icon" "categories" }}
  </div>
  <h2 class="widget-title section-title">Collection</h2>

  <ul>
    {{ range .Site.Sections }}
      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        {{ if .Sections }}
          <ul>
            {{ range .Sections }}
              <li>
                <a href="{{ .Permalink }}">{{ .Title }} - {{ .Description | strings.Truncate 42 }}</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </li>
    {{ end }}
  </ul>
</section>

{{ partialCached "footer/footer" . }}

{{ end }}